<!DOCTYPE html>
<html lang="en">

@{await Html.RenderPartialAsync("head");}
<body>
@{await Html.RenderPartialAsync("_header");}
@RenderBody();
@{await Html.RenderPartialAsync("_loader");}
@{await Html.RenderPartialAsync("footer");}
@{await Html.RenderPartialAsync("scripts");}

</body>

</html>