<!-- About section start-->
    <section class="about">
        <!-- container Start-->
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12 heading">
                    <img src="~/images/leaf.png" alt="">
                    <h2>Yoga as a lifestyle, Body & Soul</h2>
                    <h3>interesting blog posts on creativity and design</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12 col-12 box-1" data-aos="fade-right" data-aos-duration="400">
                    <div class="circle">
                        <div class="gradient"></div>
                        <div class="circle__inner">
                            <div class="circle__wrapper">
                                <div class="circle__content">
                                    <h4><a asp-area="" asp-controller="Home" asp-action="Products">Yoga <span>for</span> Life</a></h4>
                                    <p><a asp-area="" asp-controller="Home" asp-action="Products">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-12 box-2" data-aos="fade-up" data-aos-duration="400">
                    <div class="circle">
                        <div class="gradient"></div>
                        <div class="circle__inner">
                            <div class="circle__wrapper">
                                <div class="circle__content">
                                    <h4><a asp-area="" asp-controller="Home" asp-action="Products">Yoga <span>for</span> Life</a></h4>
                                    <p><a asp-area="" asp-controller="Home" asp-action="Products">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-12 box-3" data-aos="fade-left" data-aos-duration="400">
                    <div class="circle">
                        <div class="gradient"></div>
                        <div class="circle__inner">
                            <div class="circle__wrapper">
                                <div class="circle__content">
                                    <h4><a asp-area="" asp-controller="Home" asp-action="Products">Yoga <span>for</span> Life</a></h4>
                                    <p><a asp-area="" asp-controller="Home" asp-action="Products">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- container Ended-->
    </section>
    <!-- About section Ended-->