<!-- Blog section start-->
    <section class="blog">
        <!-- container Start-->
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12 heading">
                    <img src="~/images/leaf.png" alt="">
                    <h2>Some useful Yoga Articles for you!</h2>
                    <h3>Good for all men, women and childrens</h3>
                </div>
            </div>
            <div class="row" data-aos="fade-up" data-aos-duration="400">
                <div class="col-md-12 col-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <figure>
                                        <a asp-area="" asp-controller="Home" asp-action="BlogSingle"><img src="~/images/blog-1.jpg" class="zoom" alt="The Pulpit Rock" width="304" height="228"></a>
                                    </figure>
                                </div>
                                <div class="col-md-8 inner-content">
                                    <h4><a href="blog_single.html">Lorem Ipsum is simply dummy text type and scrambled...</a></h4>
                                    <p><span>December 23, 2016</span>Posted by <b><a asp-area="" asp-controller="Home" asp-action="BlogSingle">Bizzee</a></b></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <figure>
                                        <a asp-area="" asp-controller="Home" asp-action="BlogSingle"><img src="~/images/blog-2.jpg" alt="The Pulpit Rock" width="304" height="228"></a>
                                    </figure>
                                </div>
                                <div class="col-md-8 inner-content">
                                    <h4><a asp-area="" asp-controller="Home" asp-action="BlogSingle">Lorem Ipsum is simply dummy text type and scrambled...</a></h4>
                                    <p><span>December 23, 2016</span>Posted by <b><a asp-area="" asp-controller="Home" asp-action="BlogSingle">Bizzee</a></b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <figure>
                                        <a asp-area="" asp-controller="Home" asp-action="BlogSingle"><img src="~/images/blog-3.jpg" alt="The Pulpit Rock" width="304" height="228"></a>
                                    </figure>
                                </div>
                                <div class="col-md-8 inner-content">
                                    <h4><a asp-area="" asp-controller="Home" asp-action="BlogSingle">Lorem Ipsum is simply dummy text type and scrambled...</a></h4>
                                    <p><span>December 23, 2016</span>Posted by <b><a asp-area="" asp-controller="Home" asp-action="BlogSingle">Bizzee</a></b></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <figure>
                                        <a asp-area="" asp-controller="Home" asp-action="BlogSingle"><img src="~/images/blog-4.jpg" alt="The Pulpit Rock" width="304" height="228"></a>
                                    </figure>
                                </div>
                                <div class="col-md-8 inner-content">
                                    <h4><a asp-area="" asp-controller="Home" asp-action="BlogSingle">Lorem Ipsum is simply dummy text type and scrambled...</a></h4>
                                    <p><span>December 23, 2016</span>Posted by <b><a asp-area="" asp-controller="Home" asp-action="BlogSingle">Bizzee</a></b></p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-12 button">
                    <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Blog" role="button">Gallery</a>
                </div>
            </div>
        </div>
        <!-- container Ended-->
    </section>
    <!-- Blog section Ended-->