<section class="blog-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-12 heading" data-aos="fade-up" data-aos-delay="300">
                    <h2>Some useful Yoga Articles for you!</h2>
                    <h3>Good for all men, women and childrens</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-12" data-aos="fade-up" data-aos-delay="400">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <figure>
                                        <a href="blog_single.html"><img src="~/images/blog-1.jpg" alt="The Pulpit Rock" width="304" height="228"></a>
                                    </figure>
                                </div>
                                <div class="col-md-8 inner-content">
                                    <h4><a href="blog_single.html">Lorem Ipsum is simply dummy text type and scrambled...</a></h4>
                                    <p><span>December 23, 2016</span>Posted by <b><a href="blog_single.html">Bizzee</a></b></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <figure>
                                        <a href="blog_single.html"><img src="~/images/blog-2.jpg" alt="The Pulpit Rock" width="304" height="228"></a>
                                    </figure>
                                </div>
                                <div class="col-md-8 inner-content">
                                    <h4><a href="blog_single.html">Lorem Ipsum is simply dummy text type and scrambled...</a></h4>
                                    <p><span>December 23, 2016</span>Posted by <b><a href="blog_single.html">Bizzee</a></b></p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-12" data-aos="fade-up" data-aos-delay="400">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <figure>
                                        <a href="blog_single.html"><img src="~/images/blog-3.jpg" alt="The Pulpit Rock" width="304" height="228"></a>
                                    </figure>
                                </div>
                                <div class="col-md-8 inner-content">
                                    <h4><a href="blog_single.html">Lorem Ipsum is simply dummy text type and scrambled...</a></h4>
                                    <p><span>December 23, 2016</span>Posted by <b><a href="blog_single.html">Bizzee</a></b></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <figure>
                                        <a href="blog_single.html"><img src="~/images/blog-4.jpg" alt="The Pulpit Rock" width="304" height="228"></a>
                                    </figure>
                                </div>
                                <div class="col-md-8 inner-content">
                                    <h4><a href="blog_single.html">Lorem Ipsum is simply dummy text type and scrambled...</a></h4>
                                    <p><span>December 23, 2016</span>Posted by <b><a href="blog_single.html">Bizzee</a></b></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-12" data-aos="fade-up" data-aos-delay="400">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <figure>
                                        <a href="blog_single.html"><img src="~/images/blog-1.jpg" alt="The Pulpit Rock" width="304" height="228"></a>
                                    </figure>
                                </div>
                                <div class="col-md-8 inner-content">
                                    <h4><a href="blog_single.html">Lorem Ipsum is simply dummy text type and scrambled...</a></h4>
                                    <p><span>December 23, 2016</span>Posted by <b><a href="blog_single.html">Bizzee</a></b></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <figure>
                                        <a href="blog_single.html"><img src="~/images/blog-2.jpg" alt="The Pulpit Rock" width="304" height="228"></a>
                                    </figure>
                                </div>
                                <div class="col-md-8 inner-content">
                                    <h4><a href="blog_single.html">Lorem Ipsum is simply dummy text type and scrambled...</a></h4>
                                    <p><span>December 23, 2016</span>Posted by <b><a href="blog_single.html">Bizzee</a></b></p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-12" data-aos="fade-up" data-aos-delay="400">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <figure>
                                        <a href="blog_single.html"><img src="~/images/blog-3.jpg" alt="The Pulpit Rock" width="304" height="228"></a>
                                    </figure>
                                </div>
                                <div class="col-md-8 inner-content">
                                    <h4><a href="blog_single.html">Lorem Ipsum is simply dummy text type and scrambled...</a></h4>
                                    <p><span>December 23, 2016</span>Posted by <b><a href="blog_single.html">Bizzee</a></b></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <figure>
                                        <a href="blog_single.html"><img src="~/images/blog-4.jpg" alt="The Pulpit Rock" width="304" height="228"></a>
                                    </figure>
                                </div>
                                <div class="col-md-8 inner-content">
                                    <h4><a href="blog_single.html">Lorem Ipsum is simply dummy text type and scrambled...</a></h4>
                                    <p><span>December 23, 2016</span>Posted by <b><a href="blog_single.html">Bizzee</a></b></p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-12" data-aos="fade-up" data-aos-delay="400">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <figure>
                                        <a href="blog_single.html"><img src="~/images/blog-1.jpg" alt="The Pulpit Rock" width="304" height="228"></a>
                                    </figure>
                                </div>
                                <div class="col-md-8 inner-content">
                                    <h4><a href="blog_single.html">Lorem Ipsum is simply dummy text type and scrambled...</a></h4>
                                    <p><span>December 23, 2016</span>Posted by <b><a href="blog_single.html">Bizzee</a></b></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <figure>
                                        <a href="blog_single.html"><img src="~/images/blog-2.jpg" alt="The Pulpit Rock" width="304" height="228"></a>
                                    </figure>
                                </div>
                                <div class="col-md-8 inner-content">
                                    <h4><a href="blog_single.html">Lorem Ipsum is simply dummy text type and scrambled...</a></h4>
                                    <p><span>December 23, 2016</span>Posted by <b><a href="blog_single.html">Bizzee</a></b></p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-12" data-aos="fade-up" data-aos-delay="400">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <figure>
                                        <a href="blog_single.html"><img src="~/images/blog-3.jpg" alt="The Pulpit Rock" width="304" height="228"></a>
                                    </figure>
                                </div>
                                <div class="col-md-8 inner-content">
                                    <h4><a href="blog_single.html">Lorem Ipsum is simply dummy text type and scrambled...</a></h4>
                                    <p><span>December 23, 2016</span>Posted by <b><a href="blog_single.html">Bizzee</a></b></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <figure>
                                        <a href="blog_single.html"><img src="~/images/blog-4.jpg" alt="The Pulpit Rock" width="304" height="228"></a>
                                    </figure>
                                </div>
                                <div class="col-md-8 inner-content">
                                    <h4><a href="blog_single.html">Lorem Ipsum is simply dummy text type and scrambled...</a></h4>
                                    <p><span>December 23, 2016</span>Posted by <b><a href="blog_single.html">Bizzee</a></b></p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-12 button" data-aos="fade-up" data-aos-delay="400">
                    <a class="btn btn-success" href="blog-page.html" role="button">load more</a>
                </div>
            </div>
        </div>
    </section>
