<!-- Footer section start-->
    <footer class="contact">
        <!-- Gradient -->
        <div class="gradient"></div>
        <!-- container Start-->
        <div class="container">
            <div class="row" data-aos="fade-up" data-aos-duration="400">
                <div class="col-lg-6 col-md-12 col-12 columns-1">
                    <h2>Our Address</h2>
                    <address>
                    <p>Yoga Retreat The , 3rd Floor, </p>
                    <p>Beside that building, USA</p>
                    <p>Opening Hours : Mo-Fr 11:00-00:00, Sa-Su 15:00-00:00</p>
                    <p>Call for Bookings : <span>800 1234 56789</span></p>
                   </address>
                </div>
                <div class="col-lg-1 col-md-12 col-12"></div>
                <div class="col-lg-5 col-md-12 col-12 columns-2">
                    <h2>Quick Contact</h2>
                    <form class="row form-inline">
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control" placeholder="Your Name" required/>
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="email" class="form-control" placeholder="Your Email" required/>
                        </div>
                        <div class="col-md-12 form-group">
                            <textarea class="form-control" placeholder="Message" rows="5" cols="70"></textarea>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- container Ended-->
        <div class="copyright">
            <div class="container">
                <div class="row border-img">
                    <div class="col-md-12">
                        <img src="~/images/border.png" alt="">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row" data-aos="fade-up" data-aos-duration="400">
                    <div class="col-lg-3 col-md-12">
                        <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/footer-logo-bg.png" alt="logo"></a>
                    </div>
                    <div class="col-lg-9 col-md-12 right-part">
                        <ul class="ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li><a class="hidden-xs">~</a></li>
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Services">Our Services</a></li>
                            <li><a class="hidden-xs">~</a></li>
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Products">Our Products</a></li>
                            <li><a class="hidden-xs">~</a></li>
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Rates">Rates</a></li>
                            <li><a class="hidden-xs">~</a></li>
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Blog">Read Blog</a></li>
                        </ul>
                        <p>(C) 2017 All Rights Reserved. Designed by <a href="https://www.template.net/editable/websites/html5" target="_blank">Template.net</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer section Ended-->