<!-- Section-4 section start-->
    <section class="section-4">
        <!-- container-fluid Start-->
        <div class="container-fluid">
            <div class="row" data-aos="fade-up"  data-aos-duration="400">
                <div class="col-md-9 right-part">
                    <div class="row">
                        <div class="col-md-12 heading">
                            <h2>Control, Body & Mind!</h2>
                            <h3>Good for all men, women and childrens</h3>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3 col-6">
                                    <figure>
                                        <img src="~/images/services-bg.jpg" alt="The Pulpit Rock">
                                    </figure>
                                </div>
                                <div class="col-md-3 col-6">
                                    <figure>
                                        <img src="~/images/blog-1.jpg" alt="The Pulpit Rock">
                                    </figure>
                                </div>
                                <div class="col-md-3 col-6">
                                    <figure>
                                        <img src="~/images/blog-2.jpg" alt="The Pulpit Rock">
                                    </figure>
                                </div>
                                <div class="col-md-3 col-6">
                                    <figure>
                                        <img src="~/images/blog-3.jpg" alt="The Pulpit Rock">
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. a galley of type and scrambled Lorem Ipsum is simply dummy typesetting industry. a galley of type and scrambled...</p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. a galley of type and scrambled......</p>
                            <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Gallery</a>
                            <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">book now</a>
                        </div>
                    </div>

                </div>
                <div class="col-md-3">
                    <figure>
                        <img src="~/images/section-4-bg.jpg" alt="The Pulpit Rock">
                    </figure>
                    <div class="gradient"></div>
                </div>
            </div>
        </div>
        <!-- container-fluid Ended-->
    </section>
    <!-- Section-4 section Ended-->