@{await Html.RenderPartialAsync("_BannerOther");}
    <!-- services section Start -->
    <section id="products">
        <div class="container">
            <h2 data-aos="fade-up" data-aos-delay="200">Our products</h2>
            <div class="part-1" data-aos="fade-up" data-aos-delay="400">
                <div class="row">
                    <div class="col-md-12 col-12 heading">
                        <h3><i class="fa fa-envira" aria-hidden="true"></i>Yoga for Old</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-12">
                        <figure>
                            <img src="~/images/Web-Design.jpg" alt="Web Design" width="100%">
                        </figure>
                    </div>
                    <div class="col-lg-9 col-md-8 col-12 col1">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop</p>
                    </div>
                </div>
            </div>
            <div class="part-2" data-aos="fade-up" data-aos-delay="400">
                <div class="row">
                    <div class="col-md-12 heading">
                        <h3><i class="fa fa-envira" aria-hidden="true"></i>Spring Yoga Sessions</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-12">
                        <figure>
                            <img src="~/images/psd-to-html.jpg" alt="Web Design" width="100%">
                        </figure>
                    </div>
                    <div class="col-lg-9 col-md-8 col-12 col1">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop</p>
                    </div>
                </div>
            </div>
            <div class="part-2" data-aos="fade-up" data-aos-delay="400">
                <div class="row">
                    <div class="col-md-12 heading">
                        <h3><i class="fa fa-envira" aria-hidden="true"></i>Yoga for Old</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-12">
                        <figure>
                            <img src="~/images/Web-Design.jpg" alt="Web Design" width="100%">
                        </figure>
                    </div>
                    <div class="col-lg-9 col-md-8 col-12 col1">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop</p>
                    </div>
                </div>
            </div>
            <div class="part-2" data-aos="fade-up" data-aos-delay="400">
                <div class="row">
                    <div class="col-md-12 heading">
                        <h3><i class="fa fa-envira" aria-hidden="true"></i>Spring Yoga Sessions</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-12">
                        <figure>
                            <img src="~/images/Web-Design.jpg" alt="Web Design" width="100%">
                        </figure>
                    </div>
                    <div class="col-lg-9 col-md-8 col-12 col1">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                            specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- services section Ended -->